.container{
  width: 90%;
  margin: 0 auto;
}

.content{
  display: flex;
  padding-top: 100px;
}

.content-block:first-child{
  display: flex;
  flex-direction: column;
}

.content-block:first-child a{
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}

.content-block:last-child{
  margin-left: 50px;
}